
#top {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: #121212;
    z-index: +1;
}

.word {
    font-family: Helvetica;
    color: white;
}

.index {
    position: relative;
    top: 8px;
    left: 30px;
    float: left;
    font-size: 25px;
    width: 130px;
    padding-left: 10px;
}

.childIndex {
    height: auto;
    width: 130px;
    padding-left: 10px;
    background-color: #121212;
    font-size: 20px;
    padding-left: 10px;
}

#ingredient {
    display: none;;
    position: absolute;
    top: 50px;
    left: 30px;
}

#cuisine {
    display: none;
    position: absolute;
    top: 50px;
    left: 170px;
}

#meal {
    display: none;
    position: absolute;
    top: 50px;
    left: 310px;
}

#cooking {
    display: none;
    display: none;
    position: absolute;
    top: 50px;
    left: 450px;
}

#dish {
    display: none;
    position: absolute;
    top: 50px;
    left: 590px;
}

#theme {
    display: none;
    position: absolute;
    top: 50px;
    left: 730px;
}

img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 800px;
    z-index: -2;
}

#bgd {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #121212;
    opacity: 0.7;
    width: 100%;
    height: 800px;
    z-index: -1;
}

#myName {
    padding-left: 100px;
    padding-top: 150px;
    font-size: 150px;
}

#introduce {
    padding-left: 320px;
    font-size: 30px;
}

#imgII {
    position: absolute;
    top: 800px;
}

#partII {
    display: flex;
    position: absolute;
    top: 800px;
    right: 0px;
    background-color: #121212;
    width: 38%;
    height: 800px;
}

#pII {
    font-size: 20px;
    font-family: Helvetica;
    margin: auto;
}

